/*
* Using excerpts from getbootstrap.com/docs/4.4/examples/sign-in/signin.css
*/

body {
    height: 100%;
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    color: #585757;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h2 {
    color: #9c9c9c;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.nav li {
    float: left;
    width: 8em;
}